/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments";
import * as core from "../../../../core";
import { IntegralApi } from "@integralapi/node";
import urlJoin from "url-join";
import * as serializers from "../../../../serialization";
import * as errors from "../../../../errors";

export declare namespace ApplicationUser {
    interface Options {
        environment?: environments.IntegralApiEnvironment | string;
        apiKey: core.Supplier<string>;
        integralApplicationId: string;
    }
}

export class ApplicationUser {
    constructor(private readonly options: ApplicationUser.Options) {}

    /**
     * Use this endpoint to create an application user. With an application user, you define an 'API key owner' that holds top level information that is constant for all API keys made for a user
     *
     */
    public async create(
        request: IntegralApi.CreateApplicationUser
    ): Promise<IntegralApi.ApplicationUserCreateResponse> {
        const _response = await core.fetcher({
            url: urlJoin(this.options.environment ?? environments.IntegralApiEnvironment.Production, "/user"),
            method: "POST",
            headers: {
                "Integral-Application-Id": this.options.integralApplicationId,
                Authorization: await core.Supplier.get(this.options.apiKey),
            },
            body: await serializers.CreateApplicationUser.jsonOrThrow(request),
        });
        if (_response.ok) {
            return await serializers.ApplicationUserCreateResponse.parseOrThrow(_response.body, {
                allowUnknownKeys: true,
            });
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IntegralApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.IntegralApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.IntegralApiTimeoutError();
            case "unknown":
                throw new errors.IntegralApiError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * This endpoint takes in an Application User's ID and returns back relevant information about the user
     */
    public async get(applicationUserForeignId: string): Promise<IntegralApi.ApplicationUser> {
        const _response = await core.fetcher({
            url: urlJoin(
                this.options.environment ?? environments.IntegralApiEnvironment.Production,
                `/user/${applicationUserForeignId}`
            ),
            method: "GET",
            headers: {
                "Integral-Application-Id": this.options.integralApplicationId,
                Authorization: await core.Supplier.get(this.options.apiKey),
            },
        });
        if (_response.ok) {
            return await serializers.ApplicationUser.parseOrThrow(_response.body, { allowUnknownKeys: true });
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IntegralApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.IntegralApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.IntegralApiTimeoutError();
            case "unknown":
                throw new errors.IntegralApiError({
                    message: _response.error.errorMessage,
                });
        }
    }
}
